# Core framework
fastapi==0.110.1
uvicorn==0.25.0
python-dotenv==1.2.1
python-multipart==0.0.21
pydantic==2.12.5

# Database
motor==3.3.1
pymongo==4.5.0

# AI / LLM
openai==1.99.9
litellm==1.80.0
numpy==2.4.0
tiktoken==0.12.0
